audit.log
app1.py
db_config.ini
favoritos_cache.json
icon.ico
jerarquia_cache.json
productos_jerarquia_cache.json
recup.py
s.py
sirve.py
test_connection.py
docs/cache_ultimas_ventas_mbrp.md
docs/correcciones_mbrp.md
docs/PLAN_USUARIOS_PRIVILEGIOS.md
docs/optimizaciones_tra_resumen.md
EXPORT_THREADING_FIX.md
build
dist
license_cache.json
reporte_mbrp_20251212_085627.xlsx
reporte_0_mbrp_SIN_VENTA_30_DIAS_20251212_080244.xlsx
reporte_mbrp_20251212_080044.xlsx
stock_depositos_preference.json
stock_depositos_preference.json
setup.iss
desuso

posmigra/nexus-example


